@model IEnumerable<Lab1ASP.NetCore.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Movies Lista</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatsLeft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Showtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productionyear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.SeatsLeft.Equals(0))
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td style="color:red">
                        @Html.DisplayFor(modelItem => item.SeatsLeft)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Showtime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Productionyear)
                    </td>
                    <td>
                        <a asp-controller="Orders" class="btn btn-info" asp-route-id="@item.ID" asp-action="Create"> Book your Tickets</a>

                    </td>
                </tr>
            }
            else
            {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeatsLeft)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Showtime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productionyear)
        </td>
        <td>
            <a asp-controller="Orders" class="btn btn-info" asp-route-id="@item.ID" asp-action="Create"> Book your Tickets</a>

        </td>
    </tr>
            }

        }
    </tbody>
</table>
